

/*--------------------------------------*
    * layout
*--------------------------------------*/
@use "./layout/header";
@use "./layout/footer";

/*--------------------------------------*
    * component
*--------------------------------------*/

@use "./object/component/swiper";

/*--------------------------------------*
    * project
*--------------------------------------*/
@use "./object/project/main";
@use "./object/project/mv";
@use "./object/project/Lead";
@use "./object/project/About";
@use "./object/project/CaseStudy";
@use "./object/project/Member";
@use "./object/project/News";