

/*--------------------------------------*
    * layout
*--------------------------------------*/
@use "./layout/header";
@use "./layout/footer";

/*--------------------------------------*
    * component
*--------------------------------------*/

@use "./object/component/swiper";

/*--------------------------------------*
    * project
*--------------------------------------*/
@use "./object/project/main";
@use "./object/project/mv";
@use "./object/project/Lead";
@use "./object/project/About";
@use "./object/project/CaseStudy";
@use "./object/project/Member";
@use "./object/project/Post";
@use "./object/project/Column";
@use "./object/project/Recruit";
@use "./object/project/Bottom";

@use "./object/project/Page-about";
@use "./object/project/Archive-column";
@use "./object/project/Archive-news";
@use "./object/project/Single";
@use "./object/project/Page-privacypolicy";
