@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as *;
@use "../../foundation/base" as *;


.Archive {

  .Section__title{
    width: 80%;
    margin-inline: auto;
  }

  .Post{
    .section__inner{
      width: 100%;
      display: block;
      max-width: rclamp(1200);
    }
  }


  .Section__title-english{
    font-size: rclamp(70);
    color: #1C2A74;

  }

  .Section__title-sub{
    font-size: rclamp(14);
    font-weight: bold;
    color: #222;
    margin-block-start: 0;
  }

}

.ArchiveColumn {


  .Column {
    height: auto;
    background-color: inherit;
    margin-top: 0;
  }

  .Column__wrap {
    margin-top: 0;
    padding-block-end: rclamp(150);
  }

}


.ArchiveNews {


  .News {

    .section__inner {
      display: block;
    }
  }

  .News__content {
    width: rclamp(700);
    margin-inline: auto;
    margin-block-start: rclamp(100);
  }



}

.Archive-PressRelease{

  .PressRelease__content{
    width: rclamp(700);
    margin-inline: auto;
    margin-block-start: rclamp(100)
  }
}


.Pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.Pagination__list {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Pagination__list li {
  min-width: 36px;
  height: 36px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Pagination__list li.is-active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.Pagination__list li:hover {
  background: #f5f5f5;
}