@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as *;
@use "../../foundation/base" as *;


.Archive {

  
}
.ArchiveNews {


.News{

  .section__inner{
    display: block;
  }
}

.News__content{
  width: rclamp(700);
  margin-inline: auto;
}
}


.Pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.Pagination__list {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Pagination__list li {
  min-width: 36px;
  height: 36px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Pagination__list li.is-active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.Pagination__list li:hover {
  background: #f5f5f5;
}