@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as *;

body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}


#loading {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-logo{
  width: rclamp(474);
  display: block;
  margin-inline: auto;
  opacity: 0;
}

.loading-bg {
  position: absolute;
  inset: 0;
  background: url("../img/bg_fadeIn.png") center/cover no-repeat;
  opacity: 0;
}

// ボタン
.ViewMore {
  width: rclamp(210);
  margin-right: auto;
  border-bottom: 1px solid var(--color-blue);
  height: rclamp(45);
  padding-inline: rclamp(20);
  font-size: rclamp(18);

  &.--ColorWhite{

    border-bottom: 1px solid white;
    color: white;
    .ViewMore__link {
      color: white;
    }
  }
}
.ViewMore__link {
  color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  span{
    letter-spacing: 0.1em;
  }
}
.ViewMore__image {
  width: rclamp(8);
}




/* 画像の基本設定（レイアウト安定のため） */
.splide__slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

body:has(#loading) .mv__content,
body:has(#loading) .header {
  opacity: 0;
}
.header {
  background-color: none;
  height: rclamp(124);
  width: 100%;
  position:fixed;
  z-index: 100;

  h1 {
    margin: 0;
  }

}

.header__inner{
  width: rclamp(1200);
  height: 100%;

  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: rclamp(288);

}

.header__nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rclamp(15);

  a {
    font-size: rclamp(16);
    letter-spacing: 0.08em;
    color: white;
    font-weight: 600;
  }
}


.Gsap__panel01 {
  // margin-top: 180vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  /* ここが変わる！ */
  font-size: 40px;
  font-weight: bold;
  transition: background 0s;
  margin-top: 200px;
}
