@use "./mixin" as m;
@use "./functions" as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Old+Mincho&display=swap');

:root {
  --color-blue: #00168B;
  --color-light-blue: #EFF2F7;
  --bg-: #;
  --bg-: #;
}

*{
  box-sizing: border-box;
}

body{
  font-family: "Noto Sans JP", sans-serif;
  --font-Mincho:"Zen Old Mincho", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  counter-reset: inherit;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

.pc{
  display: block;
}

.sp{
  display: none;
}

@include m.mq(sp){
  .pc{
    display: none;
  }
  .sp{
    display: block;
  }

}


.section__inner{
  width: 100%;
  max-width: rclamp(1440);
  margin-inline: auto;
  padding-inline: rclamp(120);

}

.Section__title-english{
  font-size: rclamp(72);
  color: var(--color-blue);
  font-family:var(--font-Mincho) ;
  white-space: nowrap;

  &.--ColorWhite{
    color: white;
  }
}

.Section__title-sub{
  font-size: rclamp(14);
  color: black;
  margin-top: rclamp(14);

  &.--ColorWhite{
    color: white;
  }
}

.js-fadeIn {
  opacity: 0;
  transform: translateY(30px); /* 下からふわっと */
}
.js-zoomIn {
  transform: scale(0.9);
  opacity: 0;
}
