<section class="Bottom">

        <div class="Bottom__wrap">
          <div class="Bottom__content-wrap --Contact">
            <div class="Bottom__slide"></div>
            <div class="Bottom__content">
              <h2 class="Bottom__content-title">CONTACT</h2>
              <span class="Bottom__content-sub">お問い合わせ</span>
              <p class="Bottom__content-text">ご相談やお問い合わせはこちら</p>
              <div class="ViewMore --BottomContent --ColorWhite">
                <a href="#" class="ViewMore__link ">
                  <span>CONTACT</span>
                  <img src="/assets/img/triangle-white.png" alt="" class="ViewMore__image">
                </a>
              </div>
            </div>
          </div>
          <div class="Bottom__content-wrap --DownLoad">
            <div class="Bottom__slide"></div>
            <div class="Bottom__content">
              <h2 class="Bottom__content-title">DOWNLOAD</h2>
              <span class="Bottom__content-sub">資料ダウンロード</span>
              <p class="Bottom__content-text">当社の会社概要をダウンロードする</p>
              <div class="ViewMore --BottomContent --ColorWhite">
                <a href="#" class="ViewMore__link">
                  <span>DOWNLOAD</span>
                  <img src="/assets/img/triangle-white.png" alt="" class="ViewMore__image">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>