<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- swiper-css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
</head>


<body>

  <div class="wrapper">

    <header class="header">

      <div class="header__inner">
        <h1 class="header__logo">
          <a href="index.html"><img src="/assets/img/logo__pc.svg" alt=""></a>
        </h1>
        <nav class="header__nav">
          <a href="index.html">ホーム</a>
          <a href="page-about.html">会社概要</a>
          <a href="">事業内容</a>
          <a href="archive-news.html">お知らせ</a>
          <a href="archive-column.html">コラム</a>
          <a href="">採用</a>
          <a href="">資料ダウンロード</a>
          <a href="page-contact.html">お問い合わせ</a>

        </nav>
      </div>


    </header>