<div class="PageAbout__head">

          <ul class="Page__list">
            <li class="Page__list-item">
              <a href="page-about.html" class="Page__list-title">
                ビジョン
              </a>
            </li>
            <li class="Page__list-item">
              <a href="page-about-message.html" class="Page__list-title">
                代表メッセージ
              </a>
            </li>
            <li class="Page__list-item">
              <a href="page-about-history.html" class="Page__list-title">
                沿革
              </a>
            </li>
            <li class="Page__list-item">
              <a href="page-about-member.html" class="Page__list-title">
                メンバー
              </a>
            </li>

          </ul>
        </div>