<div class="PageAbout__googleMap">

  <div class="PageAbout-googleMap-wrap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6481.416615467933!2d139.72591209357918!3d35.684183700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d0034269d59%3A0x3daca7aa9f6e6423!2zQUNO6bq555S644OT44Or!5e0!3m2!1sja!2sjp!4v1765278817558!5m2!1sja!2sjp"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>


</div>