<section class="PageAbout__company">
      <div class="section__inner">
        <div class="Section__title CaseStudy__title">
          <p class="Section__title-english split --ColorWhite">COMPANY</p>
          <h2 class="Section__title-sub js-fadeIn --ColorWhite">会社情報</h2>
        </div>
        <dl class="PageAbout__company-wrap">
          <dt>会社名</dt>
          <dd>株式会社NSJAPAN</dd>
          <dt>代表者名</dt>
          <dd>代表取締役　内藤脩平</dd>
          <dt>住所</dt>
          <dd>東京都千代田区麹町4-4-4 ACN麹町ビル12階</dd>
          <dt>設立</dt>
          <dd>2023年10月</dd>
          <dt>事業内容</dt>
          <dd>新規事業開発支援 / 営業支援</dd>
        </dl>
      </div>

    </section>