<%- include('_header-noloading') %>



  <main class="Archive ArchiveColumn">

    <section class="mv">
      <div class="section__inner">

      </div>
    </section>

    <section class="Column">
      <div class="section__inner">
        <div class="Section__title CaseStudy__title">
          <p class="Section__title-english split --ColorWhite">COLUMN</p>
          <h2 class="Section__title-sub js-fadeIn --ColorWhite">コラム</h2>
        </div>

        <div class="Column__wrap">
          <!-- <div class="Section__title">
            <p class="Section__title-english split">COLUMN</p>
            <h2 class="Section__title-sub js-fadeIn">お役立ち情報</h2>
          </div> -->
          <div class="section__content">
            <ul class="Column__list">
              <li class="Column__item">
                <a href="" class="column__item-link">
                  <img src="/assets/img/mv_slide01.png" alt="" class="Column__item-image js-zoomIn">
                  <p class="Column__item-title js-fadeIn">貴社の営業部、事業戦略部として、有効セグメントの開拓やアポイント</p>
                  <span class="Column__item-category js-fadeIn">カテゴリーカテゴリー</span>
                  <span class="Column__item-date js-fadeIn">2025.0101</span>
                </a>
              </li>
              <li class="Column__item">
                <a href="" class="column__item-link">
                  <img src="/assets/img/mv_slide01.png" alt="" class="Column__item-image js-zoomIn">
                  <p class="Column__item-title js-fadeIn">貴社の営業部、事業戦略部として、有効セグメントの開拓やアポイント</p>
                  <span class="Column__item-category js-fadeIn">カテゴリーカテゴリー</span>
                  <span class="Column__item-date js-fadeIn">2025.0101</span>
                </a>
              </li>
              <li class="Column__item">
                <a href="" class="column__item-link">
                  <img src="/assets/img/mv_slide01.png" alt="" class="Column__item-image js-zoomIn">
                  <p class="Column__item-title js-fadeIn">貴社の営業部、事業戦略部として、有効セグメントの開拓やアポイント</p>
                  <span class="Column__item-category js-fadeIn">カテゴリーカテゴリー</span>
                  <span class="Column__item-date js-fadeIn">2025.0101</span>
                </a>
              </li>


            </ul>
            <div class="Pagination">
              <ul class="Pagination__list">
                <li class="is-active">1</li>
                <li>2</li>
                <li>3</li>
                <li>…</li>
                <li>10</li>
              </ul>
            </div>
          </div>
          <!-- <div class="ViewMore js-fadeIn">
            <a href="#" class="ViewMore__link">
              <span>VIEW MORE</span>
              <img src="/assets/img/triangle.png" alt="" class="ViewMore__image">
            </a>
          </div> -->
        </div>

      </div>
    </section>



    <%- include('_bottom') %>

  </main>


  <%- include('_footer') %>