<%- include('_header-noloading') %>



  <main class="Archive ArchiveNews">

    <section class="mv">
      <div class="section__inner">


      </div>
    </section>

    <section class="Post News">
      <div class="section__inner">
        <div class="Section__title CaseStudy__title">
          <p class="Section__title-english split --ColorWhite">NEWS</p>
          <h2 class="Section__title-sub js-fadeIn --ColorWhite">お知らせ</h2>
        </div>

        <div class="section__content News__content">
          <div class="Post__content">
            <ul class="Post__list">
              <li class="Post__item js-fadeIn">
                <a href="" class="Post__item-link">
                  <div class="Post__item-head">
                    <span class="Post__date">2025.03.10</span>
                    <span class="Post__category">カテゴリー</span>
                  </div>
                  <span class="Post__title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</span>
                </a>
              </li>
              <li class="Post__item js-fadeIn">
                <a href="" class="Post__item-link">
                  <div class="Post__item-head">
                    <span class="Post__date">2025.03.10</span>
                    <span class="Post__category">カテゴリー</span>
                  </div>
                  <span class="Post__title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</span>
                </a>
              </li>
              <li class="Post__item js-fadeIn">
                <a href="" class="Post__item-link">
                  <div class="Post__item-head">
                    <span class="Post__date">2025.03.10</span>
                    <span class="Post__category">カテゴリー</span>
                  </div>
                  <span class="Post__title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</span>
                </a>
              </li>



            </ul>
          </div>

          <div class="Pagination">
              <ul class="Pagination__list">
                <li class="is-active">1</li>
                <li>2</li>
                <li>3</li>
                <li>…</li>
                <li>10</li>
              </ul>
            </div>


        </div>

      </div>
    </section>



    <%- include('_bottom') %>

  </main>


  <%- include('_footer') %>