<%- include('_header-noloading') %>



  <main class="Page PagePrivacyPolicy">

    <section class="mv">
      <div class="section__inner">

      </div>
    </section>

    <section class="PagePrivacyPolicy__wrap">
      <div class="section__inner">
        <div class="Section__title">
            <p class="Section__title-english split --ColorWhite">PRIVACY POLICY</p>
          <h2 class="Section__title-sub js-fadeIn">プライバシーポリシー</h2>
        </div>

        <div class="PagePrivacyPolicy__content">
          <p class="PagePrivacyPolicy__text">
            株式会社NSJAPAN（本社：東京都千代田区、代表取締役：内藤脩平）は、営業研修サブスクリプション事業の拡大と国内外営業支援体制の強化を目的に、2025年9月1日付で元Apple Japan代表取締役社長の山元賢治氏と英語教育・グローバル人材育成の専門家でコミュニカ共同代表取締役の小西麻亜耶氏を外部顧問に迎えました。これは、グローバル時代に即した「人・組織・市場」の統合支援体制構築を目指す中核戦略の一環です。両氏は単なる助言者にとどまらず伴走型パートナーとして、当社の組織文化や研修モデル、営業支援手法のアップデートに深く関与します。<br><br>株式会社NSJAPAN（本社：東京都千代田区、代表取締役：内藤脩平）は、営業研修サブスクリプション事業の拡大と国内外営業支援体制の強化を目的に、2025年9月1日付で元Apple Japan代表取締役社長の山元賢治氏と英語教育・グローバル人材育成の専門家でコミュニカ共同代表取締役の小西麻亜耶氏を外部顧問に迎えました。これは、グローバル時代に即した「人・組織・市場」の統合支援体制構築を目指す中核戦略の一環です。両氏は単なる助言者にとどまらず伴走型パートナーとして、当社の組織文化や研修モデル、営業支援手法のアップデートに深く関与します。
          </p>
        </div>


      </div>
    </section>


    <%- include('_bottom') %>

  </main>


  <%- include('_footer') %>